/projectile-bookmarks.eld
/projectile.cache
/recentf
/url/*
/tramp
/devdocs/*
/eshell
/eaf
/places
/elpa
/tree-sitter
/user
/url
/auto-save-list
/bookmarks
/amx-items
/tutorial
/transient
/eln-cache
/projectile.cache
/recentf
/.emacs.desktop
/.emacs.desktop.lock
.aider*
/..emacs.d-tabspaces-session.el
/.cache/
/history
/.org-id-locations
/network-security.data
/org-roam.db
/persist/
/projects
