/projectile-bookmarks.eld
/eshell
/eaf
/places
/elpa
/tree-sitter
/user
/url
/auto-save-list
/site-lisp
/bookmarks
/amx-items
/tutorial
/transient
/eln-cache
/projectile.cache
/recentf
/.emacs.desktop
/.emacs.desktop.lock
